In [6]:
import numpy as np
import pandas as pd
import statistics

df = pd.DataFrame()
df['BB_Characters'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
df['Age'] = [14, 12, 11, 10, 8, 7, 8]
df

  BB_Characters  Age
0          Greg   14
1        Marcia   12
2         Peter   11
3           Jan   10
4         Bobby    8
5         Cindy    7
6        Oliver    8

In [8]:
print(np.mean(df['Age']))
print(np.median(df['Age']))
print(statistics.mode(df['Age']))

print(np.var(df['Age']))
print(np.std(df['Age']))
print(np.std(df['Age']) / np.sqrt(len(df['Age'])))

10.0
10.0
8
5.428571428571429
2.32992949004287
0.880630571853